html {
    height: 100%;
}

h1{
    /*font-family: monospace;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: cornflowerblue;
    font-size: 60px;
}

h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #3a3a3a;
    font-style: italic;
}

p{
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: #3a3a3a;
}

b{
    font-size: 14px;
    color: #3a3a3a;
}

body{
    background: url(https://i.pinimg.com/originals/96/7e/5a/967e5a1e0d7078684ffc3fd1e4e64811.jpg);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#main-holder{
    width: 30%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    /*border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;*/
    opacity: 60%;
}

#signup-form{
    display: grid;
    justify-items: center;
    align-items: center;
}

#username, #password, #confirm{
    width: 70%;
    height: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    align-self: flex-start;
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#username::placeholder, #password::placeholder{
    color: #3a3a3a;
    opacity: 50%;
}

#rgtbtn{
    width: 50%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    opacity: 80%;
}

#signin{
    color: #3a3a3a;
}